<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{{title}}</title>
        {{#if isProduction}}
        {{> metadata}}
        {{> analytics}}
        <link rel='stylesheet' media='all' href='css/style.min.css'>
        {{else}}
        <link rel='stylesheet' media='all' href='css/main.css'>
        {{/if}}
    </head>
    <body>
        {{#if isProduction}}
        <script src='js/bundle.min.js'></script>
        {{else}}
        <script src='js/vendors.js'></script>
        <script src='js/app.js'></script>
        {{/if}}
    </body>
</html>
